<% if notice.present? %>
  <div popover class="flash" style="--flash-position: 5rem;" data-controller="element-removal" data-action="animationend->element-removal#remove" role="alert"><%= notice %></div>
<% end %>

<% content_for :title, "Runs" %>

<div class="flex items-center justify-between mbe-4">
  <h1 class="font-bold text-4xl">Runs</h1>
  <%= link_to "New run", new_run_path, class: "btn btn--primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Distance</th>
      <th>Time</th>
      <th>Pace</th>
    </tr>
  </thead>
  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <th><%= link_to run.full_name, run %></th>
        <td data-label="Date"><%= run.date %></td>
        <td data-label="Distance"><%= decorated_distance_for(run.distance) %></td>
        <td data-label="Time"><%= decorated_time_for(run.time) %></td>
        <td data-label="Pace"><%= decorated_time_for(run.pace) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
